.service2-wrapper {
  padding-top: 2% !important;
  padding-bottom: 2% !important;
  padding-left: 35px;
  padding-right: 35px;
  background-image: url(../../../../assets/images/about-us-background.webp),
                    url(../../../../assets/images/about-us-background.jp2),
                    url(../../../../assets/images/about-us-background.jpg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-top: -16px;
}
