<section
  tabindex="0"
  class="service2-wrapper">
  <p>
    Income taxes in Canada constitute the majority of the annual revenues of the Government of Canada,
    and of the governments of the Provinces of Canada. In the fiscal year ending 31 March 2018, the federal
    government collected just over three times more revenue from personal income taxes than it did from
    corporate income taxes.
  </p>
  <p>
    Tax collection agreements enable different governments to levy taxes through a single administration
    and collection agency. The federal government collects personal income taxes on behalf of all provinces
    and territories. It also collects corporate income taxes on behalf of all provinces and territories
    except Alberta. Canada's federal income tax system is administered by the Canada Revenue Agency (CRA).
  </p>
  <p>
    Canadian federal income taxes, both personal and corporate are levied under the provisions of the Income Tax Act.
    Provincial and territorial income taxes are levied under various provincial statutes
  </p>
  <p>
    The Canadian income tax system is a self-assessment regime. Taxpayers assess their tax liability by
    filing a return with the CRA by the required filing deadline. CRA will then assess the return based on
    the return filed and on information it has obtained from employers and financial companies, correcting it for
    obvious errors. A taxpayer who disagrees with CRA's assessment of a particular return may appeal the assessment.
    The appeal process starts when a taxpayer formally objects to the CRA assessment. The objection must explain,
    in writing, the reasons for the appeal along with all the related facts. The objection is then reviewed by the
    appeals branch of CRA. An appealed assessment may either be confirmed, vacated or varied by the CRA. If the
    assessment is confirmed or varied, the taxpayer may appeal the decision to the Tax Court of Canada and then to the
    Federal Court of Appeal.
  </p>

  <p>
    Corporate taxes include taxes on corporate income in Canada and other taxes and levies paid by corporations to the
    various levels of government in Canada. These include capital and insurance premium taxes; payroll levies
    (e.g., employment insurance, Canada Pension Plan, Quebec Pension Plan and Workers' Compensation); property taxes;
    and indirect taxes, such as goods and services tax (GST), and sales and excise taxes, levied on business inputs.
  </p>
  <p>
    Corporations are subject to tax in Canada on their worldwide income if they are resident in Canada for Canadian tax
    purposes. Corporations not resident in Canada are subject to Canadian tax on certain types of Canadian source income
    (Section 115 of the Canadian Income Tax Act).
  </p>
  <p>
    Effective January 1, 2012, the net federal corporate income tax rate in Canada was 15%, or 11% for corporations able
    to claim the small business deduction; in addition, corporations are subject to provincial income tax that may range
    from zero to 16%, depending on the province and the size of the business.
  </p>

</section>
