<main class="client-container" role="main">
  <figure>
    <picture>
<!--      <source srcset="../../assets/images/vip-cpa-contact-us-banner1.jp2" type="image/jp2"> &lt;!&ndash; format supported by safari &ndash;&gt;-->
<!--      <source srcset="../../assets/images/vip-cpa-contact-us-banner1.webp" type="image/webp"> &lt;!&ndash; format supported on many browsers &ndash;&gt;-->
<!--      <source srcset="../../assets/images/vip-cpa-contact-us-banner1.jpg" type="image/jpeg"> &lt;!&ndash; common supported format &ndash;&gt;-->
      <img src="../../assets/images/under_consruction.jpg" alt="VIP CPA about us banner">
    </picture>
  </figure>
</main>
