$primary: #185e8a;
$secondary: #f7a61b;

$mobile-screen-max-width: 426px;
$tablet-screen-max-width: 768px;
$large-screen-min-width: 1024px;
$extra-large-screen-min-width: 1400px;

//The font is Cinzel.

