<main class="about-us-container" role="main">
  <section
    tabindex="0"
    class="about-us-banner">
    <figure>
      <picture>
        <source srcset="../../assets/images/vip-cpa-contact-us-banner1.jp2" type="image/jp2"> <!-- format supported by safari -->
        <source srcset="../../assets/images/vip-cpa-contact-us-banner1.webp" type="image/webp"> <!-- format supported on many browsers -->
        <source srcset="../../assets/images/vip-cpa-contact-us-banner1.jpg" type="image/jpeg"> <!-- common supported format -->
        <img src="../../assets/images/vip-cpa-contact-us-banner1.jpg" alt="VIP CPA about us banner">
      </picture>
    </figure>
    <div class="overlay"></div>
    <header class="overlay-content">
      <h2>
        {{ 'ABOUT_US' | translate }}
      </h2>
    </header>
  </section>
  <section
    tabindex="0"
    class="who-are-we">
    <div class="text">
      <h3>Who are we?</h3>
      <p>
        <span class="first-character">L</span>
        ocated directly in the heart of the city, VIP CPA offers <strong>top-notch tax and accounting services</strong>
        for businesses and individuals. We believe accounting goes far beyond numbers. We proudly provide
        our customers with <strong>prompt response time</strong>, true <strong>attention to detail</strong>,
        and <strong>expertise</strong> that <strong>maximizes tax benefits</strong>.
    </p>
    </div>
    <figure class="image-wrapper">
      <picture>
        <source srcset="../../assets/images/our-team2.jp2" type="image/jp2"> <!-- format supported by safari -->
        <source srcset="../../assets/images/our-team2.webp" type="image/webp"> <!-- format supported on many browsers -->
        <source srcset="../../assets/images/our-team2.jpg" type="image/jpeg"> <!-- common supported format -->
        <img src="../../assets/images/our-team2.jpg" alt="VIP CPA about us image">
      </picture>
    </figure>
  </section>
</main>
