<h1 mat-dialog-title>COVID-19 time</h1>
<div mat-dialog-content>
  <p>Due to a high volume of telephone routing at this critical time, we were informed by Bell that some phone
    calls might not go through. They are working on solving this issue.
  </p>
  <p>
    As a result, and just in case, the best way of communicating at
    this time is by email at <a href="mailto:taxfiling@gmail.com">taxfiling@gmail.com</a> or
    on my cell phone (514) 803-2030 call or text (It seems that text messages are going through better than calls).
  </p>
</div>
<div mat-dialog-actions>
<!--  <button mat-button (click)="onNoClick()">Confirm</button>-->
</div>
