<main class="rebranding-container" role="main">
  <section
    tabindex="0"
    class="rebrand-banner">
    <figure>
      <picture>
        <source srcset="../../assets/images/vip-cpa-contact-us-banner1.jp2" type="image/jp2"> <!-- format supported by safari -->
        <source srcset="../../assets/images/vip-cpa-contact-us-banner1.webp" type="image/webp"> <!-- format supported on many browsers -->
        <source srcset="../../assets/images/vip-cpa-contact-us-banner1.jpg" type="image/jpeg"> <!-- common supported format -->
        <img src="../../assets/images/vip-cpa-contact-us-banner1.webp"
             alt="Rebranding ATS consulting to VIP CPA banner">
      </picture>
    </figure>
    <div class="overlay"></div>
    <header class="overlay-content">
      <h2>
        {{ 'ANNOUNCEMENT' | translate }}
      </h2>
    </header>
  </section>
  <section
    tabindex="0"
    class="big-news">
    <div class="text">
      <h3>BIG NEWS!</h3>
      <p>
        <span class="first-character">W</span>
        e’re thrilled to unveil our refreshed brand identity <strong>VIP CPA</strong>. The updates show the evolution
        of our company since its founding in 2004. While this is a significant change, our core beliefs haven’t from
        <strong> ATS consulting </strong> changed.
        ATS consulting has grown with of its clients, from university grads to proud business owners.
        The loyalty of our clients was secured by assisting them in building and attaining success in their
        entrepreneurial endeavors.</p>
      <p>
        Over the last few months, we have poured our hearts and souls into creating a new image that would
        accurately depict who we are, at our core as a team.
        In the spirit of rebranding, <strong>we will continue to commit to our customers and provide the same, or better,
        level of professionalism you have experienced </strong>and <strong>we’d like to take the opportunity to
        thank our loyal customers and business partners for your trust and friendship in business</strong>.
      </p>
    </div>
    <figure class="image-wrapper">
      <picture>
        <source srcset="../../assets/images/our-team3.jp2" type="image/jp2"> <!-- format supported by safari -->
        <source srcset="../../assets/images/our-team3.webp" type="image/webp"> <!-- format supported on many browsers -->
        <source srcset="../../assets/images/our-team3.jpg" type="image/jpeg"> <!-- common supported format -->
        <img alt="type machine as rebrading image"
          src="../../assets/images/our-team3.webp">
      </picture>
    </figure>
  </section>
</main>
