<section
  tabindex="0"
  class="service1-wrapper">
  <h1>
    Individual Taxation
  </h1>
  <p>
    You don’t have to worry about incorrectly filing your taxes. Located in downtown Montreal, VIP CPA offers
    you <strong>top-notch individual taxation </strong>help, you will be able to <strong>quickly</strong> and
    <strong>accurately</strong> process and file your tax return while providing the individual attention you deserve.
  </p>
  <p>
    After years of serving clients in some of the largest Canadian metropolitan areas,
    our practice has obtained the expertise to navigate your specific regulatory environment
    and achieve desired outcomes on your return with solid professional integrity.
  </p>
  <p>
    VIP CPA will assist you in <strong>identifying the tax slips</strong> needed to complete your <strong>tax return</strong>.
    We will also <strong>identify deductions </strong>to be included in your tax return.
  </p>
  <p>
    <mat-icon>pan_tool</mat-icon> As a rule of thumb the following are <strong>tax return checklist</strong> for individuals and unincorporated
    business owners.
  </p>
  <ul>
    <li><mat-icon>check_box</mat-icon>Employment Income: T4, T4A, RL-1(QUEBEC)</li>
    <li><mat-icon>check_box</mat-icon>Investments & Dividends; If more than $50 CAD: T5 AND RL-3 (QUEBEC) </li>
    <li><mat-icon>check_box</mat-icon>Other T-slips; If you got CPP or QPP: T4(P) or if you got EI  </li>
    <li><a href="https://www.canada.ca/en/revenue-agency/services/forms-publications/forms/t1135.html"
            target="_blank" rel="noopener noreferer">
      <mat-icon>check_box</mat-icon>Foreign Income Version Statement: T1135; If it exceeds $100,000 CAD
    </a>
    </li>
    <li><mat-icon>check_box</mat-icon>Capital Gains & Losses: T5008</li>
    <li><mat-icon>check_box</mat-icon>Rental Property Income: T776</li>
    <li><mat-icon>check_box</mat-icon>Unincorporated / Self employed business income:  T2125</li>
    <li><mat-icon>check_box</mat-icon>RRSP Contribution & Withdrawals. It issues from March to March</li>
    <li><mat-icon>check_box</mat-icon>Medical Expenses; max to 3% of income</li>
    <li>
        <a href="https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/about-your-tax-return/tax-return/completing-a-tax-return/deductions-credits-expenses/line-21200-annual-union-professional-like-dues.html"
             target="_blank" rel="noopener noreferer">
        <mat-icon>check_box</mat-icon>Union or professional dues
      </a>
    </li>
    <li><mat-icon>check_box</mat-icon>Charitable Donations</li>
    <li><mat-icon>check_box</mat-icon>Tuition Amounts: T2202, T2202A, TL11A, B or C</li>
    <li> <a href="https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/about-your-tax-return/tax-return/completing-a-tax-return/deductions-credits-expenses/line-21200-annual-union-professional-like-dues.html"
            target="_blank" rel="noopener noreferer">
      <mat-icon>check_box</mat-icon>First Time home buyers - up to $5,000
    </a>
    </li>
    <li><mat-icon>check_box</mat-icon>Dependents - Babysitter, Boarding School, Daycare, Camp, Tuition: RL24 and/or the RL30 (QUEBEC)</li>
    <li class="outside">
      <div><mat-icon>check_box</mat-icon> Other income & deduction to consider</div>
      <ul class="inside">
        <li>
          <a href="https://www.canada.ca/en/revenue-agency/services/tax/businesses/topics/payroll/payroll-deductions-contributions/special-payments/workers-compensation-claims/t4-slip-t5007-slip-statement-benefits.html"
              target="_blank" rel="noopener noreferer">
            <mat-icon>navigate_next</mat-icon>Workers compensation T5007
          </a></li>
        <li>
          <a href="https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/about-your-tax-return/tax-return/completing-a-tax-return/deductions-credits-expenses/line-21900-moving-expenses/you-claim-moving-expenses-12.html?=undefined&"
             target="_blank"
             rel="noopener noreferer">
          <mat-icon>navigate_next</mat-icon>Moving expenses can be deducted if certain criteria are met.
          </a>
        </li>
        <li>
          <mat-icon>navigate_next</mat-icon>Carrying charges (e.g investments fees) on investments can be deducted
          against taxable investment income
        </li>
        <li>
          <a target="_blank" rel="noopener noreferer"
            href="https://www.canada.ca/en/financial-consumer-agency/services/caring-someone-ill/tax-credit-caregiver.html">
            <mat-icon>navigate_next</mat-icon>Determine if the caregiver amount is applicable to your situation
          </a>
        </li>
        <li>
          <a target="_blank" rel="noopener noreferer"
             href="https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/about-your-tax-return/tax-return/completing-a-tax-return/deductions-credits-expenses/lines-46800-46900-eligible-educator-school-supply-tax-credit.html">
            <mat-icon>navigate_next</mat-icon>
            Eligible teachers are entitled to a tax credit for school supplies purchased by them
          </a>
        </li>
        <li>
          <a target="_blank" rel="noopener noreferer"
          href="https://www.canada.ca/en/revenue-agency/services/tax/individuals/segments/tax-credits-deductions-persons-disabilities/information-medical-practitioners/eligibility-criteria-disability-tax-credit.html">
            <mat-icon>navigate_next</mat-icon>
            Disability tax credit for disabled members of the family
          </a>
        </li>
      </ul>
    </li>
  </ul>

</section>
