.service1-wrapper {
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    padding-left: 35px;
    padding-right: 35px;
    background-image: url(../../../../assets/images/vip-cpa-services-background.webp),
                      url(../../../../assets/images/vip-cpa-services-background.jp2),
                      url(../../../../assets/images/vip-cpa-services-background.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin-top: -16px;
}
