<section
  tabindex="0"
  class="service1-wrapper">
  <p>
    Income taxes in Canada constitute the majority of the annual revenues of the Government of Canada,
    and of the governments of the Provinces of Canada. In the fiscal year ending 31 March 2018, the federal
    government collected just over three times more revenue from personal income taxes than it did from
    corporate income taxes.
  </p>
  <p>
    Tax collection agreements enable different governments to levy taxes through a single administration
    and collection agency. The federal government collects personal income taxes on behalf of all provinces
    and territories. It also collects corporate income taxes on behalf of all provinces and territories
    except Alberta. Canada's federal income tax system is administered by the Canada Revenue Agency (CRA).
  </p>
  <p>
    Canadian federal income taxes, both personal and corporate are levied under the provisions of the Income Tax Act.
    Provincial and territorial income taxes are levied under various provincial statutes
  </p>
  <p>
    The Canadian income tax system is a self-assessment regime. Taxpayers assess their tax liability by
    filing a return with the CRA by the required filing deadline. CRA will then assess the return based on
    the return filed and on information it has obtained from employers and financial companies, correcting it for
    obvious errors. A taxpayer who disagrees with CRA's assessment of a particular return may appeal the assessment.
    The appeal process starts when a taxpayer formally objects to the CRA assessment. The objection must explain,
    in writing, the reasons for the appeal along with all the related facts. The objection is then reviewed by the
    appeals branch of CRA. An appealed assessment may either be confirmed, vacated or varied by the CRA. If the
    assessment is confirmed or varied, the taxpayer may appeal the decision to the Tax Court of Canada and then to the
    Federal Court of Appeal.
  </p>

  <p>
    Canada levies personal income tax on the worldwide income of individual residents in Canada and on certain types of
    Canadian-source income earned by non-resident individuals. The Income Tax Act, Part I, subparagraph 2(1), states:
    "An income tax shall be paid, as required by this Act, on the taxable income for each taxation year of every person
    resident in Canada at any time in the year."
  </p>

  <p>
    After the calendar year, Canadian residents file a T1 Tax and Benefit Return[5] for individuals. It is due April 30,
    or June 15 for self-employed individuals and their spouses, or common-law partners. It is important to note, however,
    that any balance owing is due on or before April 30. Outstanding balances remitted after April 30 may be subject to
    interest charges, regardless of whether the taxpayer's filing due date is April 30 or June 15.
  </p>

  <p>
    The amount of income tax that an individual must pay is based on the amount of their taxable income (income earned
    less allowed expenses) for the tax year. Personal income tax may be collected through various means:
  </p>

  <p>
    deduction at source - where income tax is deducted directly from an individual's pay and sent to the CRA.
    installment payments - where an individual must pay his or her estimated taxes during the year instead of waiting to
    settle up at the end of the year.
    payment on filing - payments made with the income tax return
    arrears payments - payments made after the return is filed
    Employers may also deduct Canada Pension Plan/Quebec Pension Plan (CPP/QPP) contributions, Employment Insurance (EI)
    and Provincial Parental Insurance (PPIP) premiums from their employees' gross pay. Employers then send these
    deductions to the taxing authority.
  </p>

  <p>
    Individuals who have overpaid taxes or had excess tax deducted at source will receive a refund from the CRA upon
    filing their annual tax return.
  </p>

  <p>
    Generally, personal income tax returns for a particular year must be filed with CRA on or before April 30 of the following year.
  </p>

</section>
