<main class="privacy-policy-container" role="main">
  <section
    tabindex="0"
    class="privacy-policy-banner">
    <figure>
      <picture>
        <source srcset="../../assets/images/vip-cpa-contact-us-banner1.jp2" type="image/jp2"> <!-- format supported by safari -->
        <source srcset="../../assets/images/vip-cpa-contact-us-banner1.webp" type="image/webp"> <!-- format supported on many browsers -->
        <source srcset="../../assets/images/vip-cpa-contact-us-banner1.jpg" type="image/jpeg"> <!-- common supported format -->
        <img src="../../assets/images/vip-cpa-contact-us-banner1.jpg" alt="VIP CPA privacy policy banner">
      </picture>
    </figure>
    <div class="overlay"></div>
    <header class="overlay-content">
      <h2>
        PRIVACY POLICY
      </h2>
    </header>
  </section>
  <section class="privacy-policy-details">
    <h4>We Truly Value Your Privacy</h4>
    <p>
      At VIP CPA Accounting we value privacy as much as you do. Respecting your privacy and protecting
      your information is our commitment and priority. We will continue to maintain complete discretion
      over any private information you shall provide to us while always being transparent about our
      practices.
      This policy was last updated on January 31, 2020. VIP CPA Accounting. reserves the right,
      at any time and without prior notice, to modify or replace any part of this privacy policy.
      It is your responsibility to check the policy periodically for updates or modifications to the
      policy directly on this page. The use of the website following any updates to the policy results
      in the acceptance of those changes.
    </p>

    <h4>Collection of Personal Information</h4>
    <p>
      Being accountants, during our day-to-day business, and to your full knowledge, we need to collect
      some of your most precious personal information. This confidential data is collected and used to
      provide you with the most professional services possible. We will never use it for another purpose.
    </p>

    <h4>Non-Disclosure of Personal Information</h4>
    <p>
      We shall not divulge any personal information gathered via this website to external parties.
      We may be required to share information to protect against fraud or to protect against credit risk,
      in response to a court subpoena, and sharing with others who may be assisting us in compliance with
      professional standards or who assist us in providing tax preparation and other services to you. We may
      also be required to disclose information to a parent company, subsidiaries, joint ventures, or other
      companies under extreme circumstances
    </p>

    <h4>
      Individual Access and Deletion of Personal Information
    </h4>
    <p>
      From time to time, we get requests from our clients regarding their personal information.
      We always gladly review the situation and we will oblige if you wish to have all your personal
      information deleted from our records. Please reach out to us through this website.
    </p>

    <h4> Issues Linked With the Internet </h4>
    <p>
      We work hard at keeping your informations top-secret! But, sadly despite our greatest efforts,
      complete confidentiality and security cannot be guaranteed on the internet these days.
      All web communications are subjected to interception, loss or alteration.
      You acknowledge and agree that VIP CPA Accounting cannot be held responsible for damages resulting
      from the transmission of confidential or personal information over the web and such communications
      are at your own risk. We always prefer to meet you in person, like in the good ol’ days.
    </p>

    <h4>Limitation of Liability</h4>
    <p>
      Please note that any of VIP CPA Accounting’s directors, officers, employees or contractors cannot be
      responsible or liable for any loss or damages whatsoever, including (without limiting the generality
      of the foregoing) any direct, indirect, incidental, special, punitive or any otherwise, ensuing from
      the misuse of any information collected by any third party or any misuse of any information collected
      through the website not in violation of the policy.
    </p>
  </section>
</main>
