<section class="service4-wrapper">
  <h1>
    Payroll
  </h1>
  <p>
    As a business owner, your <strong>payroll</strong> is one of the most pivotal things to keep current on an everyday
    basis. It’s not just about paying your employees, it also about knowing the differences between
    what constitutes an “employee” vs. a “contractor”, T4 preparation for your staff,
    knowing what elements of remittance are the employer’s responsibility, and knowing your routine,
    your remittance schedule, and integrating that into your everyday responsibilities in an efficient way.
  </p>
  <p>We can assist with:</p>
  <ul>
    <li>Employee compensation agreements</li>
    <li>T4 preparation</li>
    <li>Source deductions remittance scheduling</li>
    <li>Reporting on source deductions remittance</li>
    <li>Electronic payment setups with the CRA for remittance</li>
    <li>Pay check issuing and scheduling</li>
    <li>Automatic deposit implementation and administration</li>
  </ul>
  <p>
    That’s why we simplify <strong>payroll</strong> for small business. We create an easy to abide by and understand
    system for small business owners, taking into account the full range of remittance sources that include but are
    not limited to the CRA, the WSIB, and even employee pension plans. We clarify what you’re responsible for and
    ensure that you’re current in your standing with respect to source deductions and getting your employees paid on
    time and with clock work like regularity.
  </p>
  <p>
    Our role in your business includes ensuring that you are operating in a precise financial manner.
    Request a consultation or contact us to learn more about how we can assist your business.
  </p>
</section>
