<aside class="side-navigator">
  <h3 (click)="closeSideNav($event)">Menu</h3>
  <ul>
    <li class="item">
      <a routerLink="/home" (click)="closeSideNavHome($event)">
        {{ 'HOME'| translate }}</a>
    </li>
    <li class="item">
      <a routerLink="/our-services"
         class="service"
         (click)="toggleService($event)">
        {{ 'SERVICES'| translate }}
        <mat-icon *ngIf="close">add</mat-icon>
        <mat-icon *ngIf="!close">remove</mat-icon>
      </a>
      <ul *ngIf="!close" class="drawer">
        <li class="item sub-item">
          <a routerLink="/our-services/personal-tax" (click)="closeSideNavService($event)">
            &nbsp;  Personal Tax
          </a>
        </li>
        <li class="item sub-item">
          <a routerLink="/our-services/corporate-tax" (click)="closeSideNavService($event)">
          &nbsp; Corporate Tax
          </a>
        </li>
        <li class="item sub-item">
          <a routerLink="/our-services/bookkeeping" (click)="closeSideNavService($event)">
          &nbsp; Bookkeeping
          </a>
        </li>
        <li class="item sub-item">
          <a routerLink="/our-services/payroll" (click)="closeSideNavService($event)">
            &nbsp; Payroll
          </a>
        </li>
        <li class="item sub-item">
          <a routerLink="/our-services/financial-statements" (click)="closeSideNavService($event)">
            &nbsp; Financial Statements
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <a routerLink="/about-us" (click)="closeSideNavContact($event)">
        {{ 'ABOUT_US' | translate }}
      </a>
    </li>
    <li class="item">
      <a routerLink="/contact-us" (click)="closeSideNavContact($event)">
        {{ 'CONTACT_US' | translate }}
      </a>
    </li>
  </ul>
</aside>
