@import '../../../../../assets/style/variables';

.side-navigator {
  position: fixed;
  right: 0;
  height:100vmax;
  width: 50%;
  background-color: rgba(0,0,0,0.75);
  z-index: 200;
  padding: 40px 15px;
  transition: all 2s;

  h3 {
    color: $secondary;
    margin-bottom: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid red;
  }

  ul {
    list-style: none;
    padding-left: 0;

    &.drawer {
      height: 200px;
      transition: height 5s;
    }

    .item {
      padding: 10px 0;

      &.sub-item{
        font-size: 12px;
      }

      a {
        text-decoration: none;
        color: $secondary;
        display: block;

        &.service {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

@media screen and (min-width: $tablet-screen-max-width + 1) {
  .side-navigator {
    display: none;
  }
}
