<main class="privacy-policy-container" role="main">
  <section
    tabindex="0"
    class="privacy-policy-banner">
    <figure>
      <img src="../../assets/images/vip-cpa-contact-us-banner1.jpg" alt="VIP CPA privacy policy banner">
    </figure>
    <div class="overlay"></div>
    <header class="overlay-content">
      <h2>
        TERMS AND CONDITIONS
      </h2>
    </header>
  </section>
  <section class="privacy-policy-details">
    <p>
      By signing on and using <strong>www.vipcpa.ca</strong> you are deemed to have <strong>read and agreed
      to the following terms and conditions:</strong>
    </p>
    <p>
      Use of this website is governed by the laws of the provinces of Canada and anyone who uses
      this website shall abide by all applicable federal, provincial, and/or local laws, including those
      pertaining to such areas as website hacking, fraud, libel, slander, defamation, trade libel,
      product disparagement, harassment, invasion of privacy, tort, copyright or trademark infringement
      ("Applicable Law") and inappropriateness as we determine it.
    </p>
    <p>
      We want this website to be a resource on matters that might be of interest to our clients.
      So, we may post some useful links from time to time. As a result, there may be links to third
      party sites. These links are provided for convenience only and do not mean that we endorse any of
      their views, companies, professionals or employees or the information you might find or link to
      these websites, nor that we guarantee its accuracy
    </p>
    <p>
      We also want to emphasize that we shall not be responsible or liable, directly or indirectly,
      for any damage or loss caused or alleged to be caused by or in connection with use of or reliance
      on any information contained on any such third party sites. Basically, from time to time, our site
      may connect users to other websites. We always do our best to connect only with sites that live up
      to our standards of ethics; however, we cannot be responsible for content on sites outside of our own.
    </p>
    <p>
      Please note that we may, at any time, and at our sole discretion, modify these Terms and Conditions
      of Use, including our Privacy Policy, with or without notice to the User. We will always post our
      changes here and any such modification will be effective immediately upon public posting. Your
      continued use of our Service and this Site following any such modification constitutes your acceptance
      of these modified Terms.
    </p>
  </section>
</main>
