<main class="site-map-container" role="main">
  <article
    tabindex="0"
    class="site-map-bg">
    <ul>
      <li>
        <a routerLink="/home">
          <code>
            Home
          </code>
        </a>
      </li>
      <li>
        <a routerLink="/our-services">
          <code>Services</code>
        </a>
      </li>
      <ul>
        <li>
          <a routerLink="/our-services/personal-tax">
            <code>Personal Taxes</code>
          </a>
        </li>
        <li>
          <a routerLink="/our-services/personal-tax">
            <code>Corporate Taxes</code>
          </a>
        </li>
        <li>
          <a routerLink="/our-services/bookkeeping">
          <code>Bookkeeping</code>
          </a>
        </li>
        <li>
          <a routerLink="/our-services/payroll">
          <code>Payroll</code>
          </a>
        </li>
        <li>
          <a routerLink="/our-services/financial-statements">
            <code>Financial Statements</code>
          </a>
        </li>
      </ul>
      <li>
        <a routerLink="/about-us">
        <code>About Us</code>
        </a>
      </li>
      <li>
        <a routerLink="/contact-us">
          <code>Contact Us</code>
        </a>
      </li>
      <li>
        <a routerLink="/privacy-policy">
          <code>Privacy Policy</code>
        </a>
      </li>
      <li>
        <a routerLink="/terms-and-conditions">
          <code>Terms & Conditions</code>
        </a>
      </li>
      <li>
        <a routerLink="/site-map">
          <code>Sitemap</code>
        </a>
      </li>
      <li>
        <a routerLink="/ats-consulting">
          <code>Rebranding</code>
        </a>
      </li>
    </ul>
  </article>
</main>
